html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
:root {
  --primary: #838487;
  --secondary: rgb(35, 41, 70);
  --bg-1: rgb(230, 233, 245);
  --bg-2: #ffffff;
  --btn: #4db667;
  --heading: #020511;
}
/* custom styles */
html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
/* container */
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
/* flex{*/
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.flex-46 {
  flex: 0 1 46%;
}
.flex-30 {
  flex: 0 10 30%;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify {
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.align-content {
  align-items: center;
}
.grow {
  flex: 1 0 0;
}
/* general  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg-2);
  font-weight: 700;
}
.font {
  font-size: 0;
}
.width-full {
  width: 100%;
}
.flexiable-img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  letter-spacing: 0.8px;
  border: 0;
  outline: 0;
}
.btn-primary {
  background-color: var(--btn);
  color: var(--bg-2);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.active {
  color: var(--btn);
}
.padding {
  padding: 3.4rem 0;
}
/* texts */
.text-color {
  color: var(--primary);
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1.2rem 0;
}
.align {
  text-align: center;
}
/* navogation bar */
.navbar {
  background-color: var(--secondary);
  padding: 1rem;
}
.navbar a:hover {
  color: var(--btn);
}
.nav-menu li {
  margin-left: 20px;
  font-size: 1.2rem;
}
/* article  */
.article {
  background-color: var(--bg-1);
  padding: 2.6rem;
}
.article-heading {
  font-size: 2.6rem;
  color: var(--heading);
}
.article img {
  width: 100%;
}
/* blog */
.blog {
  background-color: var(--bg-2);
}
.blog h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.blog h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

/* footer */
.footer {
  background-color: var(--secondary);
}
.footer nav {
  padding: 0 4.8rem;
}
.footer strong {
  font-size: 2rem;
  color: var(--bg-2);
  margin-left: 2rem;
}
.social-media-icon i {
  font-size: 2.5rem;
  color: #bdc5db;
  margin-left: 2.75rem;
  border-radius: 18px;
}
/* media quiers */
@media screen and (max-width: 1260px) {
  .container {
    max-width: 1160px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    max-width: 960px;
  }
}

/* responsive */
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 760px;
    padding: 0 2rem;
  }
  .flex-100 {
    flex: 0 1 100%;
    margin: 2rem 0;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .order-1 {
    order: 1;
  }
  .column {
    flex-direction: column;
  }
  .navbar{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .nav-menu{
    display: flex;
    justify-content: center;
  }
  .nav-menu li{
    margin:0 1.5rem;
  }
  .brand {
    margin-bottom: 2rem;
  }
  .footer{
    padding: 1rem 0;
  }
  .footer a{
    display:inline-block;
    margin: 2rem 1.2rem 0 1.2rem;
  }
}
@media screen and (max-width: 560px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 560px;
  }
}
